@charset "UTF-8";
/* CSS Document */
html{height:100%;width:100%;min-width:1100px;overflow-y:hidden;}
body{
	width:100%;
	min-width:1100px;
	height:100%;
	background:#EEE url(../images/mainPanelBg.jpeg);
	background-size:cover;
	background-attachment:fixed;
	overflow-y:hidden;
	overflow-x:auto;
}

/*顶部区块*/
#main-item{
	width:100%;
	height:60px;
}
/*logo 部分*/
#logo{
	width:200px;
	height:50px;
	float:left;
	padding-top:10px;
	margin-right:10px;
}
#logo img{
	width:200px;
	height:50px;
}

/*子项目部分*/
.itemBox{
	width:90px;
	height:inherit;
	float:left;
}
.itemBox a{
	display:block;
	height:40px;
	line-height:40px;
	width:inherit;
	text-align:center;
	font-size:18px;
	margin-top:10px;
	color:orange;
	text-decoration:none;
}
.itemBox a:hover{
	color:white;
}
.itemBox span{
	display:block;
	width:50px;
	height:4px;
	margin-left:20px;
	background:orange;
	border-radius:2px;
}

/*网盘*/
#wangpan span{
	display:block;
}

/*关于*/
#guanyu span{
	display:none;
}

/*用户 部分*/
#user{
	width:200px;
	height:40px;
	float:right;
	margin-right:80px;
	overflow:hidden;
	margin-top:10px;
	cursor:pointer;
}
#touxiang{
	width:34px;
	height:34px;
	margin:3px 10px 3px 0px;
	border-radius:17px;
	float:left;
	overflow:hidden;
	background:orange;
}
.usersmallIcon{
	width:34px;
	height:34px;	
}
#user span{
	display:block;
	width:150px;
	height:30px;
	line-height:30px;
	margin-top:5px;
	float:left;
	font-size:14px;
	font-weight:bold;
	text-align:left;
}
/*用户资料卡*/
#userProfile{
	position:absolute;
	right:60px;
	top:50px;
	z-index:999;
	width:260px;
	height:270px;
	box-shadow:0px 3px 10px #333333;
	background:white;
	display:none;
}
#smallTriangle{
	width: 0px;
	height: 0px;
	border-right: 15px solid rgba(255,255,255,0);
	border-bottom: 10px solid blue;
	border-left: 15px solid rgba(255,255,255,0);
	margin: 0px auto
}
#userPfile-head{
	width:inherit;
	height:100px;
	background:blue;
}
#userPfile-head div{
	width: 50px;
	height:50px;
	background:orange;
	float:left;
	margin: 25px 20px;
}
.userIcon{
	width:50px;
	height:50px;	
}
#userPfile-head span{
	display:block;
	height:20px;
	line-height:20px;
	width:150px;
	float:left;
	margin:40px 0px;
	font-size:16px;
	color:black;
	font-weight:bold;
}
/*用户资料选项卡功能区*/
#userProfile a{
	display:block;
	width:235px;
	height:40px;
	line-height:40px;
	padding-left:25px;
	text-decoration:none;
	cursor:pointer;
}
#userProfile a:hover{
	background:rgba(128,128,128,0.2);
}




/*左侧区块*/
#left-side{
	width:200px;
	height:100%;
	margin-top:20px;
	float:left;
}
.left-item{
	display:block;
	width:200px;
	height:45px;
	cursor:pointer;
	background:none;
}

#left-side a:hover{
	background:rgba(128,128,128,0.2) !important;
}

.left-item img{
	display:block;
	width:23px;
	height:23px;
	margin:11px 7px 11px 40px;
	background:;
	float:left;
}
.left-item span{
	display:block;
	width:80px;
	height:25px;
	line-height:25px;
	margin:10px 3px 10px 0px;
	float:left;
	font-size:15px;
	color:orange;
}

/*进度条区域*/
#DiskUsage{
	width:inherit;
	height:100px;
	margin:80px 0px 0px 0px;
}
#DiskUsage div{
	display:block;
	width:160px;
	height:8px;
	border-radius:4px;
	background:rgba(128,128,128,0.4);
	margin:30px 0px 0px 20px;
}
.percentage{
	display:block;
	height:8px;
	width:0px;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
	background:#0F6;
}
#allVolume{
	display:block;
	width:60px;
	height:20px;
	line-height:20px;
	text-align:center;
	float:right;
	font-size:12px;
	margin:5px 15px 0px 0px;
}
#used{
	display:block;
	width:100px;
	height:20px;
	line-height:20px;
	float:left;
	font-size:12px;
	margin:5px 0px 0px 20px;
}



/*右侧框架区块*/
#right-side{
	height:100%;
	min-width:800px;
	margin:0px 10px 0px 200px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	background:white;
	overflow:hidden;
}





